body{
    padding: 0px;
    margin: 0px;
}
.box{
    width: 200px;
    height: 200px;
    background: black;
    padding: 10px;
    font-size: 50px;
    color: aquamarine;
    border: 10px solid green;
    text-align: center;
    margin: 50px auto;
    transform:rotate3d