.box-model{
    border: 40px groove green;
    text-align: justify;
    text-transform: capitalize;
    margin: 20px 15px 10px 5px;   /* Clockwize Or Top right bottom left */
    padding: 30px 25px 15px 10px; /* Clockwize Or Top right bottom left */
}
.border{
    border: 40px;
    border-style: solid;
    border-color: red green blue yellow; /* red top, green right, blue bottom and yellow left */
    margin: 20px;
    padding: 20px;
    text-align: justify;
    text-transform: capitalize;
        
}
.radius{
    margin: 20px;
    padding: 20px;
    border: 30px;
    border-style: ridge;
    border-color: green;
    border-radius: 20px;
    text-align: justify;
    text-transform: capitalize;
}
.outset{
    margin: 20px;
    padding: 20px;
    border: 30px;
    border-style: outset;
    border-color: green;
    border-radius: 20px;
    text-align: justify;
    text-transform: capitalize;
}