.grd{
    width: 400px;
    height: 400px;
    border: 2px solid gray;
    background-image: radial-gradient(yellow,green)
}
.grd1{
    width: 400px;
    height: 400px;
    border: 2px solid gray;
    background-image: radial-gradient(red 35%,yellow 45%,green 55%)
}
.grd2{
    width: 400px;
    height: 400px;
    border: 2px solid gray;
    background-image: radial-gradient(circle, red ,yellow,green)
}
.grd3{
    width: 400px;
    height: 400px;
    border: 2px solid gray;
    background-image: repeating-radial-gradient(red 1%, green 25%)
}